h1 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
#firstpane{
    text-align:center;
}
#firstpane #title{
  font-size: 10vw;
  color:#000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  
}
#secondpane{
    text-align:center;
}
#secondpane div{
  padding-top:10px;
  text-align:center;
}
#secondpane a{
  color:#3E3E3E;
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 400; 
  font-size: 5vh;
  text-decoration:none;
  border-bottom: 3px solid black;
  padding-top:20px;

}
body {
  padding-left:0%;
  margin-left:0%;
  padding-right:0%;
  margin-right:0%;
  padding-top:0%;
  margin-top:0%;
}

