h1 {
  text-decoration: none;
}
#firstpane{
    /*text-align:center;*/
}
#title{
  text-align:left;
  font-size: 3.5em;
  color:#000;
  font-weight: 400; 
}
#title::after{
  content: "";
  clear: both;
  display: table;
}
#secondpane{
    /*text-align:left;*/
}
#secondpane div{
  padding-top:10px;
  /*text-align:center;*/
}
#me{
  height:200px;
	width:auto;
	float:left;
	padding-right:30px;
}
#name{
}

.center {
    margin: 0 auto;
    width: 90%;
    max-width:700px;
    padding: 10px;
}

.subsection {
  color:#3E3E3E;
  font-weight: 400; 
  font-size: 2.5em;
  text-decoration:none;
  border-bottom: 2px solid #AFEDAF;
}


p{
  color:#3E3E3E;
  font-weight: 400; 
  font-size: 1.5em;
  text-decoration:none;
}
dt{
  color:#3E3E3E;
  font-weight: 400; 
  font-size: 1.9em;
  text-decoration:none;
}
dd{
  color:#3E3E3E;
  font-weight: 400; 
  font-size: 1.8em;
  text-decoration:none;
  border-bottom: 0px;
  padding:0.1em;
}
#gh{
  font-size: 2.5em;
}

a{
  color:#3E3E3E;
  font-weight: 400; 
  text-decoration:none;
  border-bottom: 1.5px solid #E8AE0C;

}

body {
  float:center;
  width:100%;
}
